*{margin: 0;padding: 0;}
ul li{list-style: none;list-style-type: none;}

body{width: 1002px;margin: 0 auto;background: url("images/b1.jpg") ;}
.main{width: 1002px;margin: 0 auto;background-color:rgb(241,238,229); }
#top{height:150px;position: relative;top: 20px;left: 50px;}
.logo{width: 250px;height: 60px;}
.logo a{font-size: 24px;display: block;text-decoration: none;font-weight: bold;color: #666;font-family: "黑体";}
.menu{margin: 0;white-space: nowrap;overflow: hidden;height: 56px;}
.menu ul li{float: left;}
.menu ul li a{display: block;float: left;height: 56px;text-decoration: none;text-align: center;width: 90px;margin-right: 5px;
 				color: #b6b3a8;font: 12px/38px 'SimSun',Arial,Sans-Serif;background: url("images/menu.jpg")0px 0px no-repeat;}
.m{height: 200px;background-image: url("");} 				
